body{
    background-color: rgb(253, 253, 253);
    overflow-y:scroll ;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

.logo{
    background-image: url('IMG/Picture1.png');
    background-size:contain;
    background-position: 0%;
    background-repeat: no-repeat;
    width: 300px;
    height: 10vh;
    border-color: bisque;
    position: absolute;
    top:0;
    
}

.container{
    background-color:  rgb(253, 253, 253);
    color: rgb(0, 149, 214);
    font-weight: bold;
    min-height: 70vh;
    display: flex;
    flex-direction:column;
    
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 10px;
    padding: 2vh;
    min-width: 400px;
    max-width: fit-content;
}
.mb-3{
    margin: 2%;
    min-width: 355px;
    max-width: 25%;
    

}
.mb-32{
    margin: 2%;
    min-width: 355px;
    max-width: 25%;
    top: 150px;
    position: relative;
}
.btn{
    width: 100%;
    /* width: 75%; */
    /* transform: translate(20%); */
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 20px;
    background-color: rgba(196, 217, 255, 0);
    border-color: rgb(0, 149, 214);
    color: rgb(0, 149, 214) ;
}

.btn:hover{
    background-color: rgb(0, 149, 214);
}

.btn:disabled{
    background-color: rgba(0, 149, 214);
    border-color: rgb(0, 149, 214);
}

.form-select:disabled{
    background-color: #ced5dd82;
    color: rgb(136, 136, 136);
}

.form-select option{
    font-weight: 600;
}
.form-select option::selection{
    background-color: black;
}

.form-select option:disabled{
    font-weight: 350;
}
.messages{
    font-size: 35px;

}

.image{
    width: 500px;
    height: auto;
    background-image: url('IMG/nucleation.jpeg');
    background-size:cover;
    background-position: -50px;
    background-repeat: no-repeat;
    border-radius: 10px;
    opacity: 0.8;
}

.grid{
    display: grid;
    grid-template-columns: auto ;
    grid-auto-columns: 100%;
    grid-gap: 50px;
    
}

.grid2{
    display: grid;
    grid-template-columns: auto ;
    grid-auto-columns: 100%;
    grid-gap: 30px;

}

@media (min-width: 600px) {
    .grid2 {grid-template-columns: repeat(2, 0.5fr);
            height: 800px; }
}

@media (min-width: 600px) {
    .grid { grid-template-columns: repeat(2, auto); }
}

.footerstripe{
    background-color: #14A7E1;
    height: 1vh;
    width: 100%;
    margin: 0px;
    
}
.footer{
    background-color: black;
    height: 135px;
    min-width: 100vw;
    
}

.footergrid{
    margin-top: 10px;
    display: grid;
    justify-content: center;
    grid-template-columns: 500px 500px;
    grid-gap: 30px;
}

@media (max-width: 600px) {
    .footergrid { grid-template-columns: 225px 120px;
        grid-gap: 20px; }
    .footer{
        width: 412px;
    }
}
.footer img{
    width: 250px; 
 
}

.footer .imglink{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
}
.form-select{
    background-color: #F5F5F5;
    /* background-color: #19adfd29; */
    /* background-color: #c7c7c729; */

}
form input[type="text"]{
    background-color: #F5F5F5;
}
form input[type="email"]{
    background-color: #F5F5F5;
}
.icons{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    justify-content: end;
    
}
i{
    margin-left: 10px;
    color: white;
}

i:hover{
 color: #14A7E1;
}
ol{
    margin: 0px;
}